.search-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid rgb(174, 167, 167);
  border-radius: 10px;
}
.search-container label {
  font-size: 20px;
  margin-bottom: 5px;
}
.search-container input {
  outline: none;
  padding: 5px;
  border: 1px solid rgb(174, 167, 167);
  border-radius: 5px;
}
